<h3>Home</h3>

<p>This sample shows how you can create and use directives in your AngularJS 
applications.</p>

<p>Directives encapsulate HTML and javascript into re-usable units that can 
be tested and maintained independently. Using directives is very easy, all 
you have to do is include the directive definitions in your HTML pages and 
then use the directive tags as you would any regular HTML tag.</p>

<p>The SpreadJS library includes AngularJS directives
that make development more declarative, with views that contain only markup
(no script) and are compact, expressive, easy to create, and easy to maintain.</p>

<p>In addition to those directives, we also created additional directive sets 
for SpreadJS as well as for common UI elements.

<p>These directives allow you to focus on writing your application logic and
pure HTML5 markup (writing the code that only <i>you</i> can write).</p>

<p>Feel free to use these directives as they are, to customize them, or to
use them as a starting point for writing your own.</p>
