<h3>SpreadJS Cell Type</h3>

<p>
    The sample below shows how to ceate cell types that define cell's appearance and behavior.
</p>

<gc-spread-sheets id="ss" newtabvisible="false">
    <worksheets>
        <worksheet datasource="employees">
            <columns>
                <column width="130" datafield="name" headertext="Name"></column>
                <column width="90" datafield="phone" headertext="Phone"></column>
                <column width="80" datafield="country" headertext="Country">
                    <default-style>
                        <combobox-cell-type>
                            <item text="US"></item>
                            <item text="UK"></item>
                            <item text="Germany"></item>
                            <item text="Maxico"></item>
                        </combobox-cell-type>
                    </default-style>
                </column>
                <column width="240" datafield="email" headertext="Email">
                    <default-style>
                        <hyperlink-cell-type></hyperlink-cell-type>
                    </default-style>
                </column>
                <column datafield="onJob" headertext="OnJob">
                    <default-style halign="center">
                        <checkbox-cell-type></checkbox-cell-type>
                    </default-style>
                </column>
            </columns>
        </worksheet>
    </worksheets>
</gc-spread-sheets>
