<h3>SpreadJS Data Validation</h3>

<p>
    The sample below shows how to ceate Excel-like validation.
</p>

<gc-spread-sheets id="ss" newtabvisible="false" highlightinvaliddata="true">
    <worksheets>
        <worksheet datasource="employees">
            <columns>
                <column width="130" datafield="name" headertext="Name"></column>
                <column width="90" datafield="phone" headertext="Phone"></column>
                <column width="80" datafield="country" headertext="Country">
                    <data-validation>
                        <list-validator list="Japan,Germany,UK,Italy,US"></list-validator>
                    </data-validation>
                </column>
                <column width="240" datafield="email" headertext="Email"></column>
                <column datafield="onJob" headertext="OnJob"></column>
            </columns>
        </worksheet>
    </worksheets>
</gc-spread-sheets>
