body {
    font-family: 'Gotham SSm A', 'Gotham SSm B';
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
}

h1 {
    font-size: 36px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: 'Forza SSm A', 'Forza SSm B';
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

td input[type=checkbox] {
    margin: 5px;
}

td input[type=text] {
    margin: 5px;
    width: 100px;
}

label {
    font-weight: normal;
}

.logo {
    width: 64px;
    height: 64px;
}

.mainContainer {
    width: 80%;
    margin-left: 10%;
}

.content {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.contentContainer {
    width: 100%;
}

.contentContainer .leftContainer {
    width: 25%;
}

.contentContainer .rightContainer {
    width: 73%;
}

.contentContainer [class*="Container"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2%;
}

.contentContainer [class*="Container"]:first-child {
    margin-left: 0;
}

#ssdb {
    width:100%;
    height:500px;
    border:1px solid gray;
}

#ss {
    width:100%;
    height:300px;
    border:1px solid gray;
}
